@model List<ChiTietHoaDon>

<style>
    .table-container {
        max-width: 100%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1rem;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
    }

        .table th, .table td {
            padding: 1rem;
            text-align: center; /* Đổi text-align thành center */
            border-bottom: 1px solid #dee2e6;
        }

    .product-image {
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    /* Optional: Style for hover effect on rows */
    .table tbody tr:hover {
        background-color: #f9f9f9;
    }

    header {
        display: none;
    }

    .footer {
        display: none;
    }
</style>

<partial name="_LoginPartial" />
<h1 style="text-align:center; margin-top:20px">ADMIN DASHBOARD</h1>


<h2>Chi tiết đơn hàng</h2>
<br />
<div class="container-fuild table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Hình ảnh</th>
                <th class="text-center">Sản phẩm</th>
                <th class="text-center">Giá</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Tổng giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size:13px">
                    <td class="text-center"><img src="/images/@item.SanPham.ImageUrl" alt="@item.SanPham.Name" class="product-image" /></td>
                    <td class="text-center">@item.SanPham.Name</td>
                    <td class="text-center">@String.Format("{0:0,0}", item.SanPham.Price) VND</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">@String.Format("{0:0,0}", item.SanPham.Price * item.Quantity) VND</td>

                </tr>

            }
            <tr class="total-row" style="font-size:16px">
                <td colspan="4" class="text-right" style="text-align:end">Tổng giá:</td>
                <td class="text-center">
                    @{
                        // Calculate the total sum of all product prices
                        var totalSum = Model.Sum(item => item.ProductPrice * item.Quantity);
                    }
                    @String.Format("{0:0,0}", totalSum) VND
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a asp-action="Index" class="btn btn-primary">Quay lại</a>